.board {
  width: 500px;
  height: 500px;
  display: grid;
  border: 1px black solid;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}